
<div class="container">
    <div class="col-sm-6">
      
      <img src="" alt="">
    </div>
    <div class="col-sm-6">
        <h2>About Athletics Authority </h2>

        <p>
        Get all your Athletics needs from Athletics Authority! 
        <br>
        From shoes, shirts, and other sports gear!
        <br>
        Shop Now! 
        
        </p>
        
        <a href="/shoes">Shop For Shoes</a> and explore!</p>
        
        <a href="/contact">Sign Up For Our News Letter </a></p>
    </div>
  </div>