<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
	<title>Athletics Authority</title>
	<link rel="shortcut icon" type="image/png" href="" />
	<link rel="stylesheet" href="/public/css/athletics.css" />

</head>

<body>
	<div id="nav">

		<div class="col-sm nav-align">
			<h1 id="title">Athletics Authority</h1>
		</div>

		<div class="col-sm nav-align">
			<a href="/">
				<span class="button">Home</span>
			</a>
			<a href="/shoes">
				<span class="button">Shoes</span>
			</a>
			<a href="/gear">
				<span class="button">Gear</span>
			</a>
			<a href="/contact">
				<span class="button">Contact</span>
			</a>
			<a href="/cart">
				<span class="button">My Cart</span>
			</a>
			
			
			
		</div>
	</div>

	<%- body %>

</body>

</html>
