
<div class="container">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
      <h1> You've Been Added To The List! <br>
        Look Out For Coupons In Your Inbox!</h1>
      <p> Go to <a href="/">Front Page</a>
      </p>
    </div>
  </div>